@import '04b_19.css';

body {
  margin: 0;
  font-family: '04b19', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}